/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
	margin-bottom: 15px;

}

a{
	color: #C0C3C6;
	font-size:13px;
	text-decoration:none;
	widows: 40px;
	padding:35px 50px 45px 50px;
}

nav{
    float: left;
    text-align: center;
}

.logo {
	display:inline-block;
	float:right;

}
h1{
	font-size:50px;
}

header{
	display:inline-block;
	text-align:center;
	vertical-align:top;
	width:100%;
	padding:50px 20px 50px 40px;

}

.heading{
	display:inline-block;
	text-align:center;
	width:60%;
	padding:20px 20px 30px 50px;
}


.button{
	font-size:16px;
	border:1px solid black;
	padding:0 30px;
}

.header-image{
	display:inline-block;
	float: right;
	width:30%;
}

p{
	font-family: -apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
}


.column-1 {
	float: left;
	width: 50%;
  }
  
  .row-1{
	  margin-left:50px;
  }
  
  .row-1:after {
	content: "";
	display: table;
	clear: both;
  }

.middle-img{
	display:block;
	margin:20px 0 0 50px;
}

.colum-2{
	float:left;
	width:27%;
	display:inline;
}

.row-2{
	margin:20px 0 50px 50px;
}

.row-2:after {
	content: "";
	display: table;
	clear: both;
  }

address{
	margin:20px 0 50px 50px;
}

footer{
	margin-bottom:80px;
	text-align:center;
}
/* Your code starts here! */